.coluna {
    border: 1px solid black
}

.cabecalho {
    height: 400px;
    width: 1900px;
    padding: 10px;
    background-image: url("../images/back.jpg");
    background-size: cover;
}

.corpo {
    color: rgb(221, 221, 2);
    height: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/fundo.jpg");
}


.menu {
    width: 100%;
    margin-top: 10px;
    position: absolute;
    
    
}

.itemMenu {
    float: left;
    width: 11.5%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(221, 221, 2);
    background-color: rgb(32, 32, 32);
}


.itemMenu:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

.duvidas{
    color: yellow;
    text-align: left;
    font-size: 40px;
    border: 1px solid yellow;
    margin-top: 20px;
}
.contador {
    background-color: yellow;
    color: red;
    border: 1px solid yellow;
}